* {
    box-sizing: border-box;
  }

  * {
    margin: 0;
}

body {
background-color: #F8EEFF;
margin: 0;
padding: 0;
font-family: 'Work Sans', sans-serif;
}



.container { 
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.box {
    border-radius: 16px;
    background: var(--White, #FFF);
    box-shadow: 0px 32px 56px 0px rgba(80, 0, 118, 0.10);
    width: 600px;
    height: 565px;
}

.box h1 {
    font-size: 56px;
    font-weight: 700;
    color: #301534;
}

.accordion-box {
    margin-bottom: 24px;
    border-bottom: 1px solid #D8D8D8;
}

.accordion-button {
  font-size: 18px;  
  font-weight: 600;
  color: #301534;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}



.answer {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #8B6990;
    margin-bottom: 24px;
}



.content {
  padding: 40px;  
}

.head {
    display: flex;
    margin-bottom: 36px;
}

.star {
    margin-right: 24px;
}


@media (max-width: 768px) {
  
    .container {
        background-image: url(./assets/images/background-pattern-mobile.svg);
        background-repeat: no-repeat;
        padding: 24px;
    }

    .star {
        width: 1.5rem;
       
    }

    .head {
        margin-bottom: 20px;
    }
    
    .box h1 {
        font-size: 32px;
    }

    
}